{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}

{% block title %}

    Wisp Water Level

{% endblock %}

{% block content %}

    <h1>Water Tank Level Reader For Wisp Electrical</h1>

    <p>This is a simple Flask app that connects to a database to save and retrieve data.</p>

    <p>It includes...</p>

    <ul>
        <li>Example routes</li>
        <li>Example static pages</li>
        <li>Missing page and server error pages</li>
        <li>DB connection and error handling</li>
        <li>Example CRUD actions: Create and Delete</li>
        <li>Flash messages for information</li>
    </ul>

    <a href="/sites" role="button">Go to the Sites...</a>

{% endblock %}