{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

   Wisp Tank Reader - Single Site

{% endblock %}


{% block content %}

    <h1>A Single Site...</h1>


    <article>

        <header>
            <h3>{{ sites.siteName}}</h3>
        </header>

        <p>Highest: <strong>${{ sites.highLevel }}</strong></p>
        <p>Current: <strong>${{ sites.lastLevel }}</strong></p>

        <footer>
            <a href="/delete/{{ sites.id }}" onclick="return confirm('Really delete?');">Delete</a>
        </footer>

    </article>


    <a role="button" href="/sites">Back to Site List</a>

{% endblock %}

