{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Wisp Tank Reader - All Sites

{% endblock %}


{% block content %}

    <h1></h1>


    <article>

        <ul>
            {% for sites in sites %}

                <li>
                    <a href="/sites/{{ sites.id }}">
                        {{ sites.siteName }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Add a New site...</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of new site"
                required
            >

            <button>Add the site</button>

        </form>

    </article>

{% endblock %}

